{% extends "base.html" %} {% block title %} FireCaster: Predictive Dashboard {% endblock %} {% block content %}

<body>
    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
            <h3>FireCaster</h3>
            <span> Predictive Dashboard </span>
        </div>
    </nav>
    <!-- map-container -->
    <div id="map-container">
        <div id="map"></div>
    </div>
    <!--/ map-container -->
    <!-- container-fluid -->
    <div class="container-fluid">
        <!-- row-->
        <div class="row">
        </div>
        <!--/ row -->
    </div>
    <!--/ container-fluid -->
</body>
{% endblock %}